# Check the Version of python

In [1]:
import sys
print(sys.version)

# print() function

In [1]:
print('hello world')

hello world

In [2]:
print("hello world")

hello world

In [5]:
print("shaleem's car")  # use single quotes in double

shaleem's car

In [6]:
print('shaleem"s car') # use double quotes in single

shaleem"s car

# Escape Sequences

1-\'    ' ' ' , ' " '
2-\"    " " " , " ' "
3-\\    \\ ,\\\\ 
4-\t     tab ( to make space b/w text )
5-\n     next line ( to put the text in next line )
6-\b     backspace ( to remove the character )

\\'      and      \\"

In [8]:
print('shaleem\'car') # \' inside single quotes

shaleem'car

In [16]:
print('I\'shaleem') # use backslash here

I'shaleem

In [17]:
print("I\"am shaleem")

I"am shaleem

In [18]:
print('use \ here')

use \ here

In [19]:
print('He\'s amazing')

He's amazing

Use of \\n

In [34]:
print('line A')
print('line B')

line A
line B

In [37]:
print('line A \nline B \nline C')

line A
line B
line C

In [38]:
print('My name is Shaleem\nI\'m a programmer')

My name is Shaleem
I'm a programmer

In [39]:
print('this is a ball\nthis is another ball')

this is a ball
this is another ball

In [40]:
print('I love jesus Christ\nHe is my everything')

I love jesus Christ
He is my everything

In [41]:
print('Shaleem\nYuab\nBhatti')

Shaleem
Yuab
Bhatti

In [44]:
print('\n') # nothing will be printed

Use of \\t

In [47]:
print('my name is \t shaleem')

my name is 	 shaleem

In [48]:
print('name\tshaleem')

name	shaleem

In [53]:
print('name\nshaleem\tyuab')

name
shaleem	yuab

In [57]:
print('name\'s\tShaleem')

name's	Shaleem

Double Backslsh  \\\\

In [ ]:
print('use here\') #cannot use \ at the end we have to use \\

In [23]:
print('use here\\')

use here\

In [27]:
print('\\') # to print single , type double backslash

\

In [58]:
print('\\\\') # to print double , type tetra backslash

\\

In [61]:
print('\t')

In [63]:
print('\\t')

\t

In [68]:
print('\n will never print')

 will never print

In [69]:
print('\\n to treat it as normal text')

\n to treat it as normal text

In [72]:
print('line A \\n line B')

line A \n line B

Use of \b it not useful

In [75]:
print('hell\blo')

helllo

Shortcut of treating as normal text

In [81]:
print('line A \nline B')

line A
 line B

In [83]:
print('line A \\n line B') # \\n as \n normal text treatment

line A \n line B

In [85]:
print(r'line A \n line B')  # use r if wanna avoid \\n

line A \n line B

Printing Emoji's

In [89]:
print('\U0001F602\n\U0001F603')

ðŸ˜‚
ðŸ˜ƒ

# python as a calculator

In [100]:
print(3+3)
print(3*3)
print(2**3) # power called exponent
print(round(25**0.5)) # square root = 1/2 = 0.5
print(pow(2,3)) # power function (square)
print(15/5) # simple division
print(15//5) # to avoid float value

6
9
8
5
8
3.0
3

Precedence rule

1-Parantheses
2-Exponent ( right to left )
3- *, /, //, %  ( left to right )
4- + , - ( left to right )

In [104]:
print(2**3/2*6-4*(3-4/2))
#    (2**3/2*6-4*(1)) parantheses
#    (8/2*6-4*(1)) exponent
#  left to right no * first but division
4*6-4

20.0

20

In [106]:
2**3**2
# right to left 2**9
# 2x2x2x2x2x2x2x2x2x2 = 512

512

In [3]:
print(2+3-1)  
#      5-1
print(2-3+1)
#     -1+1 = 0
 # this is not like that + will first then -
# always left to righy

4
0

# Variables

In [113]:
a = 5
b = 6
print(a)
print(b)
a,b = b,a
print(a)
print(b)

5
6
6
5

Dynamic programming

we dont write int,var before declaration of variable as
it used to write in visual basic Dim a as integer

so thats why python is called dynamic programming whereas visual basic
6.0 was not dynamic because every time we had to write var's data type
and once its data type were declared it could not be changed but here in
python it data type can be changed. like

In [115]:
a = 'shaleem'
print(a)
a = 123
print(a) # a is no more a string it is now integer and we dont have to
#        define it as int,str,float so thats why dynamic
#        thats why it is more flexible

shaleem
123

# Rules for naming variable name

1- variable's name can be started with capital letter
2- variable's name cannot be started with digits can be but used in mid
3- variable's name cannot be started or in mid with special symbols
4- variable's name can be started with small letters
5- variable's name can be started with underscore
6- python follows snake case not camle case(according to convention)
7- keyword or reserve word cannot be used as variable name

In [1]:
A = 5
print(A)

5